{% extends 'admin/base_server.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Hello!</h1>
            <p> You are logged as {{ app.user.email }}</p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('home') }}" role="button">Back to www</a></p>
        </div>
    </div>
{% endblock %}