{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome!</h1>
            <p> Go to admin panel</p>
            <p><a class="btn btn-primary btn-lg" href="{{ path('admin') }}" role="button">Admin</a></p>
        </div>
    </div>
{% endblock %}